<config>
    <modules>
        <Freestream_TwoFactorAuth>
            <version>1.0.0</version>
        </Freestream_TwoFactorAuth>
    </modules>
    <global>
        <helpers>
            <fstwofactorauth>
                <class>Freestream_TwoFactorAuth_Helper</class>
            </fstwofactorauth>
        </helpers>
        <models>
            <fstwofactorauth>
                <class>Freestream_TwoFactorAuth_Model</class>
                <resourceModel>fstwofactorauth_resource</resourceModel>
            </fstwofactorauth>
            <fstwofactorauth_resource>
                <class>Freestream_TwoFactorAuth_Model_Resource</class>
                <entities>
                    <admin_hash>
                        <table>fs_admin_twofactorauth_hash</table>
                    </admin_hash>
                </entities>
            </fstwofactorauth_resource>
        </models>
        <blocks>
            <fstwofactorauth>
                <class>Freestream_TwoFactorAuth_Block</class>
            </fstwofactorauth>
        </blocks>
        <resources>
            <fstwofactorauth_setup>
                <setup>
                    <module>Freestream_TwoFactorAuth</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </fstwofactorauth_setup>
        </resources>
        <events>
            <admin_user_authenticate_before>
                <observers>
                    <fstwofactorauth>
                        <class>fstwofactorauth/admin_observer</class>
                        <method>authenticateOtp</method>
                    </fstwofactorauth>
                </observers>
            </admin_user_authenticate_before>
            <admin_user_save_after>
                <observers>
                    <fstwofactorauth_assign_secret>
                        <class>fstwofactorauth/admin_observer</class>
                        <method>assignSecretToAdmin</method>
                    </fstwofactorauth_assign_secret>
                    <fstwofactorauth_save>
                        <class>fstwofactorauth/admin_observer</class>
                        <method>saveAdminSecret</method>
                    </fstwofactorauth_save>
                </observers>
            </admin_user_save_after>
        </events>
    </global>
    <frontend>
       <layout>
            <updates>
                <fstwofactorauth>
                    <file>freestream/twofactorauth.xml</file>
                </fstwofactorauth>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <fstwofactorauth>
                    <file>freestream/twofactorauth.xml</file>
                </fstwofactorauth>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Freestream_TwoFactorAuth before="Mage_Adminhtml">Freestream_TwoFactorAuth_Adminhtml</Freestream_TwoFactorAuth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
