<config>
    <modules>
        <Freestream_GoogleTwoFa>
            <version>1.0.0</version>
        </Freestream_GoogleTwoFa>
    </modules>
    <global>
        <helpers>
            <fsgoogletwofa>
                <class>Freestream_GoogleTwoFa_Helper</class>
            </fsgoogletwofa>
        </helpers>
        <models>
            <fsgoogletwofa>
                <class>Freestream_GoogleTwoFa_Model</class>
                <resourceModel>fsgoogletwofa_resource</resourceModel>
            </fsgoogletwofa>
            <fsgoogletwofa_resource>
                <class>Freestream_GoogleTwoFa_Model_Resource</class>
                <entities>
                    <admin_hash>
                        <table>fs_admin_googletwofa_hash</table>
                    </admin_hash>
                </entities>
            </fsgoogletwofa_resource>
        </models>
        <blocks>
            <fsgoogletwofa>
                <class>Freestream_GoogleTwoFa_Block</class>
            </fsgoogletwofa>
        </blocks>
        <resources>
            <fsgoogletwofa_setup>
                <setup>
                    <module>Freestream_GoogleTwoFa</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </fsgoogletwofa_setup>
        </resources>
        <events>
            <admin_user_authenticate_before>
                <observers>
                    <fsgoogletwofa>
                        <class>fsgoogletwofa/admin_observer</class>
                        <method>authenticateOtp</method>
                    </fsgoogletwofa>
                </observers>
            </admin_user_authenticate_before>
            <admin_user_save_after>
                <observers>
                    <fsgoogletwofa_assign_secret>
                        <class>fsgoogletwofa/admin_observer</class>
                        <method>assignSecretToAdmin</method>
                    </fsgoogletwofa_assign_secret>
                    <fsgoogletwofa_save>
                        <class>fsgoogletwofa/admin_observer</class>
                        <method>saveAdminSecret</method>
                    </fsgoogletwofa_save>
                </observers>
            </admin_user_save_after>
        </events>
    </global>
    <frontend>
       <layout>
            <updates>
                <fsgoogletwofa>
                    <file>freestream/googletwofa.xml</file>
                </fsgoogletwofa>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <fsgoogletwofa>
                    <file>freestream/googletwofa.xml</file>
                </fsgoogletwofa>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Freestream_GoogleTwoFa before="Mage_Adminhtml">Freestream_GoogleTwoFa_Adminhtml</Freestream_GoogleTwoFa>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
